{% extends 'base.html' %}
{% block body %}

<div class="container mt-4">
   <a href="/home" type="button" class="btn btn-outline-danger btn-sm">Home</a>
  <h1>MyTodo</h1>
  <div class="mb-3">
    <p class="form-label">Todo</p>
    <p class="form-control">{{alltodo.description}}</p>
  </div>
  <div>
    <p class="form-label">Is_done</p>
    <p class="form-control">{{alltodo.is_done}}</p>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
          <h5 class="card-title">Tag</h5>
          <div class="container mt-4">
              <form action="/add/{{alltodo.id}}" method="post">
                  <div class="mb-3">
                      <div class="input-group mb-3">
                        <strong id="comment"></strong>
                        <input type="text" class="form-control" placeholder="Tag" id="tag" name="tag" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="Submit" id="button-addon2">Add</button>
                      </div>
                  </div>
              </form>
              {% if alltag|length==0 %}
                <div class="alert alert-danger" role="alert">
                  No Tag found.
                </div>
              {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Sr.No</th>
                      <th scope="col">Tag</th>
                      <th scope="col">User_id</th>
                      <th scope="col">Created</th>
                      <th scope="col">Updated</th>
                    </tr>
                  </thead>
                  {% for tag in alltag%}
                  <tbody>
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td scope="row">{{tag.tag}}</td>
                      <td>{{tag.user_id}}</td>
                      <td>{{tag.created_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                      <td>{{tag.updated_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
            <div class="container mt-4">
                <form action="/add/{{alltodo.id}}" method="POST">
                  <div class="mb-3">
                      <div class="input-group mb-3">
                        <strong id="tag"></strong>
                        <input type="text" class="form-control" placeholder="Comment" id="comment" name="comment" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="Submit" >Add</button>
                      </div>
                  </div>
              </form>
              {% if allcomment|length==0 %}
                <div class="alert alert-danger" role="alert">
                  No Comment found.
                </div>
              {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Sr.No</th>
                      <th scope="col">Comment</th>
                      <th scope="col">User_Name</th>
                      <th scope="col">Created</th>
                      <th scope="col">Updated</th>
                    </tr>
                  </thead>
                  {% for comment in allcomment%}
                  <tbody>
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td scope="row">{{comment.body }}</td>
                      <td>{{comment.user_id}}</td>
                      <td>{{comment.created_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                      <td>{{comment.updated_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}