{% extends 'base.html' %}
{% block body %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">MyTodo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>


      </ul>
      <form class="d-flex" action="/logout">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
</div>

  <div class="container mt-4">
    <form action="/home" method="post">
      <h1>MyTodo</h1>
  <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Todo</label>
  <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="Your Todo" required>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Tag</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" name="tag" placeholder="Tag" required>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput3" class="form-label">Comment</label>
  <input type="text" class="form-control" id="formGroupExampleInput3" name="comment" placeholder="Comment" required>
</div>
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
      </div>

  <!--table-->
  <div class="container mt-4">
    {% if alltodo|length==0 %}
    <div class="alert alert-danger" role="alert">
      No Todo found.
    </div>
    {% else %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Todo</th>
      <th scope="col">is_done</th>
      <th scope="col">Tag</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

      {% for todos in alltodo %}
    <tbody>
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td scope="row">{{todos.description }}</td>
      <td>{{todos.is_done}}</td>
      <td>{% for tags in alltag %} {% if todos.id == tags.todo_id %}{{ tags.tag }} {% endif %} {% endfor %} </td>
      <td>{{todos.created_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
      <td>{{todos.updated_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
      <td><a href="/view/{{todos.id}}" type="button" class="btn btn-dark btn-sm">VIEW</a>
        <a href="/add/{{todos.id}}" type="button" class="btn btn-dark btn-sm">ADD</a>
        <a href="/delete/{{todos.id}}" type="button" class="btn btn-dark btn-sm">DELETE</a>
      <a href="/update/{{todos.id}}" type="button" class="btn btn-dark btn-sm">UPDATE</a></td>
      </tr>
    </tbody>
     {% endfor %}
    {% endif %}

  </table>
      </div>
{% endblock body %}