<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

<!--    <link rel="stylesheet" href="login.css" />-->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='login.css')}}">
  </head>
  <body>
    <div class="top">
      <div class="top1">
        <button id="signup-button">Log In</button>
        <button id="signin-button">Sign Up</button>
      </div>
    </div>
    <form action="/" method="post">
      <div id="signup">
        <div class="title">
          <h1>Sign Up</h1>
        </div>
        <div class="name">
          <label for="fname">First Name*</label>
          <input
            type="text"
            name="fname"
            id="fname"
            required
            autocomplete="off"
          />
        </div>
        <div class="name">
          <label for="lname">Last Name*</label>
          <input
            type="text"
            name="lname"
            id="lname"
            required
            autocomplete="off"
          />
        </div>
        <div class="name">
          <label for="fname">Username*</label>
          <input type="text" name="username" required autocomplete="off" />
        </div>
        <div class="name email">
          <label for="email1">Email*</label>
          <input
            type="email"
            name="email"
            id="email1"
            required
            autocomplete="off"
          />
        </div>
        <div class="radio">
          <div class="heading">
            <label>Usertype*</label>
          </div>
          <div class="both">
            <div class="normal">
              <input
                type="radio"
                name="usertype"
                value="2"
                id="super"
                checked
              />
              <label for="super">Super_user</label>
            </div>
            <div class="super">
              <input
                type="radio"
                name="usertype"
                value="1"
                id="normal"
                autocomplete="off"
              />
              <label for="normal">Normal_user</label>
            </div>
            <div class="super">
              <input
                type="radio"
                name="usertype"
                value="0"
                id="base"
                autocomplete="off"
              />
              <label for="base">Base_user</label>
            </div>
          </div>
        </div>
        <div class="name password">
          <label for="password1">Password*</label>
          <input
            type="password"
            name="password"
            id="password1"
            required
            autocomplete="off"
          />
        </div>
        <div class="button">
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </div>
      </div>
    </form>
    <form action="/login" method="post">
      <div id="login">
        <div class="title">
          <h1>Log In</h1>
        </div>
        <div class="name email">
          <label for="email">Email*</label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{data}}"
            required
            autocomplete="off"
          />
        </div>
        <div class="name password">
          <label for="password">Password*</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            autocomplete="off"
          />
        </div>
        <div class="button">
          <button type="submit">Log_in</button>
        </div>
      </div>
    </form>
    <script  src="{{ url_for('static', filename='login.js')}}" data-turbolinks-track="reload"></script>
<!--    <script src="login.js"></script>-->
  </body>
</html>
