{% extends 'base.html' %}
{% block body %}

  <div class="container mt-4">
    <form action="/update/{{alltodo.id}}" method="post">
      <h1>MyTodo</h1>
      <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Todo</label>
  <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="Your Todo" value="{{alltodo.description}}">
</div>
<div class="mb-3">
  <label  class="form-label">Is_done</label>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" value="Ture">
  <label class="form-check-label" for="flexRadioDefault1">
    True
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    False
  </label>
</div>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Tag</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" name="tag" placeholder="Tag" value="{{alltag.tag}}">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput3" class="form-label">Comments</label>
  <input type="text" class="form-control" id="formGroupExampleInput3" name="comment" placeholder="Comments" value="{{allcomment.body}}">
</div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
      </div>
{% endblock body %}