{% extends 'base.html' %}
{% block body %}

<div class="container mt-4">
  <h1>MyTodo</h1>
  <div class="mb-3">
    <p class="form-label">Todo</p>
    <p class="form-control">{{alltodo.description}}</p>
  </div>
  <div>
    <p class="form-label">Is_done</p>
    <p class="form-control">{{alltodo.is_done}}</p>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tag</h5>
          <div class="container mt-4">
              {% if alltag|length==0 %}
                <div class="alert alert-danger" role="alert">
                  No Tag found.
                </div>
              {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Sr.No</th>
                      <th scope="col">Tag</th>
                      <th scope="col">User_id</th>
                      <th scope="col">Created</th>
                      <th scope="col">Updated</th>
                    </tr>
                  </thead>
                  {% for tag in alltag%}
                  <tbody>
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td scope="row">{{tag.tag}}</td>
                      <td>{{tag.user_id}}</td>
                      <td>{{tag.created_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                      <td>{{tag.updated_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
            <div class="container mt-4">
              {% if allcomment|length==0 %}
                <div class="alert alert-danger" role="alert">
                  No Comment found.
                </div>
              {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Sr.No</th>
                      <th scope="col">Comment</th>
                      <th scope="col">User_Name</th>
                      <th scope="col">Created</th>
                      <th scope="col">Updated</th>
                    </tr>
                  </thead>
                  {% for comment in allcomment%}
                  <tbody>
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td scope="row">{{comment.body }}</td>
                      <td>{{comment.user_id}}</td>
                      <td>{{comment.created_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                      <td>{{comment.updated_at.strftime('%d/%m/%Y, %H:%M:%S')}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}