* {
  margin: 0;
  padding: 0;
}
.top {
  height: 6vw;
  width: 33vw;
  margin: 0 auto;
}
.top1 {
  text-align: center;
  padding-top: 20px;
}
#signin-button {
  height: 35px;
  width: 120px;
  margin-left: 10px;
  border-radius: 3px;
}
#signup-button {
  height: 35px;
  width: 120px;
  margin-right: 10px;
  border-radius: 3px;
}
#signup {
  display: none;
  text-align: center;
  padding: 20px;
  width: 30vw;
  margin: 0 auto;
  height: 20vw;
}
#login {
  text-align: center;
  padding: 20px;
  width: 30vw;
  margin: 0 auto;
  height: 20vw;
}
#top {
  text-align: center;
  margin: 20px;
}
.title {
  color: blue;
}
.name {
  color: red;
  height: 30px;
  margin: 10px;
}
.name input {
  height: 30px;
  border-radius: 5px;
}
.button button {
  height: 35px;
  width: 100px;
  border-radius: 5px;
}
.email input {
  margin-left: 30px;
}
.password input {
  margin-left: 7px;
}
.radio {
  display: flex;
}
.heading {
  color: red;

  margin: auto;
  padding-left: 50px;
}
.both {
  margin: 5px 140px 0 0;
  text-align: left;
}
